{{template "header"}}
<title>分类-自动化运维</title>

<body>
{{template "navbar" .}}
    <div class="container">
    <h1>服务器信息</h1>
    <form method="GET" action="/fenlei">
        <div class="form-group">
            <label>服务器添加</label>
            <h1>{{.xianshi}}</h1>
            <input id="name" class="form-control" placeholder="admin" name="name">
            <input type="hidden" name="op" value="add">
        </div>
        <button type="submit" class="btn btn-default" onclick="return checkInput();">添加</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>编号</th>
            <th>环境</th>
            <th>IP</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .Fenlei}}
        <th>{{.Id}}</th>
        <th>{{.Title}}</th>
        <th>{{.TopicCount}}</th>
        <th>
            <a href="/fenlei?op=del&id={{.Id}}">删除</a>
        </th>
        {{end}}
        </tbody>
    </table>
    </div>
</body>