{{define "navbar"}}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navber-brand navbar-text" href="/">自动化运维</a>
        <ul class="nav navbar-nav">
            <li {{if .Isindex}}class="active" {{end}}><a href="/">首页</a></li>
            <li {{if .Isfenlei}} class="active" {{end}}><a href="/fenlei">分类</a></li>
            <li {{if .Iscont}}class="active" {{end}}><a href="/topic">文章</a></li>
        </ul>

<div class="pull-right">
    <ul class="nav navbar-nav">
        {{if .IsLogin}}
                <li>
                    <a href="/login?exit=true">退出</a>
                </li>
        {{else}}
                <li>
                    <a href="/login">登陆</a>
                </li>
        {{end}}
    </ul>
</div>
</div>
</div>
{{end}}