<{{template "header"}}
<title>服务器信息-自动化运维</title>

<body>
{{template "navbar" .}}
<div class="container">
    <h1>服务器信息</h1>
    <a href="/topic/add" class="btn btn-default">添加服务器信息</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>编号</th>
            <th>环境</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .Topics}}
        <th>{{.Id}}</th>
        <th>{{.Title}}</th>
        <th>{{.Created}}</th>
        <th>{{.Content}}</th>
        {{end}}
        </tbody>
    </table>
</div>
</body>